.bicicletas-bg {
  background-image: linear-gradient(to right, var(--cor-0) 20%, var(--cor-11) 0%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background: url('../../img/dec/top-right.svg') no-repeat top 40px right 20px;
}
.bicicletas-imagem {
  position: relative;
}

.bicicletas-imagem span {
  position: absolute;
  top: 1.25rem;
  right: 0;
  border-radius: .31rem 0 0 .31rem;
  background-color: var(--cor-12);
  padding: .5rem 1rem .5rem .5rem;
  display: inline-block;
}
.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
  align-content: start;
}
.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}
.bicicletas-conteudo h2 {
  margin-bottom: 1.25rem;
}
.bicicletas-conteudo h2::before {
  content: "";
  display: block;
  width: 0.75rem;
  height: 0.5rem;
  background-color: var(--cor-p1);
  margin-bottom: 0.5rem;
}
.bicicletas-conteudo p {
  margin-bottom: 2rem;
}
.bicicletas-conteudo a {
  place-self: end;
}
.bicicletas-conteudo ul {
  display: grid;
  gap: 1rem;
}
.bicicletas-conteudo li {
  display: flex;
  align-items: center;
}
.bicicletas-conteudo img {
  width: 24px;
  margin-right: 0.5rem;
}

@media (max-width: 800px) {
   .bicicletas-bg {
      background: var(--cor-11);
    }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 600px) {
   .bicicletas-conteudo{
      grid-template-columns: 1fr;
   }
   .bicicletas ul{
      font-size: 1rem;
      margin-bottom: 2rem;
      grid-template-columns: 1fr 1fr;
   }
   .bicicletas-conteudo a {
      place-self: start;

    }
}
@media (max-width: 400px){
   .bicicletas ul{
      grid-template-columns: 1fr;
   }
}